@charset "utf-8";
/* CSS Document */

@font-face
{
    font-family:'haxrcorp';
    src: url('haxrcorpttf.ttf');
}

.crop {
	object-fit: cover; 
	object-position: center; 
	height: 800px;
	width: 600px;
	margin: 0;
	position: absolute;
	top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.links {
	position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
	width: 900px;
	height: 800px;
	overflow: hidden;	
}

.main{
	height: 800px;
	width: 1500px;
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	background-color: #2C2C2C;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.grid {
	display: grid;
	grid-template-columns: 180px 180px 180px 180px 180px; /*180*/
	grid-template-rows: 267px 266px 267px;
	justify-items: center;
	align-items: center;
	grid-template-areas: 
	"no1 no2 no7 no10 no13"
	"no3 no4 no8 no11 no14"
	"no5 no6 no9 no12 no15";
}

.item-no1 {
	grid-area: no1;
}

.item-no2 {
	grid-area: no2;
}

.item-no3 {
	grid-area: no3;
}

.item-no4 {
	grid-area: no4;
}

.item-no5 {
	grid-area: no5;
}

.item-no6  {
	grid-area: no6;
}

.item-no7  {
	grid-area: no7;
}

.item-no8  {
	grid-area: no8;
}

.item-no9  {
	grid-area: no9;
}
.item-no10  {
	grid-area: no10;
}
.item-no11  {
	grid-area: no11;
}

.item-no12  {
	grid-area: no12;
}

.item-no13  {
	grid-area: no13;
}

.item-no14  {
	grid-area: no14;
}

.item-no15  {
	grid-area: no15;
}

a {
    color: white;
	text-decoration: none;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}

body {
    background-color: #1B1B1B;
}

ul{
		
	text-align: center;
	list-style-type: none;
	padding: 0px;
	color: white;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}